<div class="card">
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="mt-2">
        <h5>
          <span class="badge badge-light text-left">
            <p class="font-weight-light">User 1:</p>
            <p class="font-weight-normal">Bla bla bla</p>
          </span>
        </h5>
      </li>
      <li class="mt-2">
        <h5>
          <span class="badge badge-light text-left">
            <p class="font-weight-light">User 2:</p>
            <p class="font-weight-normal">More blabla bla.</p>
          </span>
        </h5>
      </li>
      <li class="mt-2">
        <h5>
          <span class="badge badge-light text-left">
            <p class="font-weight-light">User 3:</p>
            <p class="font-weight-normal">Normal weight text.</p>
          </span>
        </h5>
      </li>
    </ul>
  </div>
</div>
