<div class="card">
  <div class="card-body">
    <ul class="list-unstyled messages-list">
      <% @messages.each do |message| %>
        <li class="mt-2">
          <h5>
            <span class="badge badge-light text-left">
              <p class="font-weight-light"><%= message.username %></p>
              <p class="font-weight-normal"><%= message.message %></p>
            </span>
          </h5>
        </li>
      <% end %>
    </ul>
  </div>
</div>
