<form id="groupChatForm"  class="mt-2">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="message" data-username="dummyname" rows="3"></textarea>
  </div>
  <button type="button" id="sendMessage" class="btn btn-primary">Send</button>
</form>

<%= javascript_include_tag 'group_chat/form' %>
